@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #f5f5f5;
  height: 100%;
}

header {
  background-color: #033a07;
  color: #f5f5f5;
  padding: 12px 48px;
  box-shadow: 0 2px 3px black;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: #033a07;
  padding: 12px;
  text-align: center;
}

h1 {
  font-size: 36px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen-info img {
  height: 500px;
  object-fit: contain;
  margin-bottom: 12px;
}

.hero {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.7)),
    url('./public/chantal-garnier-910GanwBoew-hero.jpg');
  height: 80vh;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 36px;
}

.hero p {
  font-size: 48px;
  font-weight: 700;
  color: #033a07;
  padding: 10px;
}

.download {
  display: block;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 24px;
}

.features {
  max-width: 1100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.features h2 {
  font-size: 36px;
  width: 100%;
  text-align: center;
}

.screen-info {
  width: 300px;
  display: flex;
  flex-flow: column nowrap;
  padding: 12px;
  margin: 12px;
  border-radius: 5px;
  box-shadow: 0 0 6px -2px #033a07;
  background-color: white;
}

.screen-info p {
  font-size: 16px;
}